{% extends "layoutadmin.twig" %}
{% block main %}
 <main id="main" class="text-center pt-4">
    <h1>BIENVENIDO ADMINISTRADOR</h1>
    <h4>SELECCIONA UNA OPCION DEL MENU DE NAVEGACIÓN</h4>     
</main> 
{% endblock %}
  