{% extends "layoutuser.twig" %}
{% block main %}
  <main id="main">
      <div class="row mt-3 mb-3">
        <div class="card col-6 offset-sm-3 col-md-3 offset-md-0 text-center">
          <img class="card-img-top" src="images/mujer.jpg" alt="Card image cap">
          <div class="card-body">
            <a href="/benbol/mujer" class="btn btn-ben"><h6>MUJER</h6></a>
          </div>
        </div>
        <div class="card col-6 offset-sm-3 col-md-3 offset-md-0 text-center">
          <img class="card-img-top" src="images/hombre.jpg" alt="Card image cap">
          <div class="card-body">
            <a href="/benbol/hombre" class="btn btn-ben"><h6>HOMBRE</h6></a>
          </div>
        </div>
        <div class="card col-6 offset-sm-3 col-md-3 offset-md-0 text-center">
          <img class="card-img-top" src="images/nina.jpg" alt="Card image cap">
          <div class="card-body">
            <a href="/benbol/nina" class="btn btn-ben"><h6>NIÑA</h6></a>
          </div>
        </div>
        <div class="card col-6 offset-sm-3 col-md-3 offset-md-0 text-center">
          <img class="card-img-top" src="images/nino.jpg" alt="Card image cap">
          <div class="card-body">
            <a href="/benbol/nino" class="btn btn-ben"><h6>NIÑO</h6></a>
          </div>
        </div>
      </div>
    </main>   
{% endblock %}
  